<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976973197594-goode02fvad96j4bnua08pa9cm08p3ct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976973197594-goode02fvad96j4bnua08pa9cm08p3ct</string>
	<key>API_KEY</key>
	<string>AIzaSyCJbEegS28N3A04PRN6qdunkvMtbdCRXi4</string>
	<key>GCM_SENDER_ID</key>
	<string>976973197594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kasif</string>
	<key>PROJECT_ID</key>
	<string>kasif-888</string>
	<key>STORAGE_BUCKET</key>
	<string>kasif-888.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976973197594:ios:72e8c1ffeb1777cc0dbca3</string>
</dict>
</plist>